html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #b8b8b8;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;    
}

.title{
    // padding: 100px 0 141px;
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 120px;

}
.title::before,
.title::after{
    position: absolute;
    content: '' ;
    height: 1px;
    width: 75px;
    background-color: #18cfab;
    top:calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    // margin-right: -50%;
}
.title::after{
    top:calc(100% + 35px);
    left: 53%;
}



